<hr>
<hr>
<hr>
<div class="container-fluid">



    <div class="row mb-5">
        <div class="col-sm-3">

            <!-- <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">Change Password</h4>
                            <p class="card-text">Some example text. Some example text.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div> -->

        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Book an Appointment</h4>
                    <p class="card-text">Fill the details below</p>
                    <!--experiment start-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> <label for="form_service">Select a Service
                                    *</label>
                                <select id="form_service" name="service" class="form-control" required="required"
                                    data-error="Please select a service." (change)="filterService($event)">
                                    <option value="" selected disabled>--Select Category--</option>
                                    <option [value]="ser['serviceId']" *ngFor="let ser of servicesResult">
                                        {{ser['serviceName']}}

                                    </option>
                                </select>

                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group"> <label for="form_cityName">City *</label>
                                <select id="form_cityName" name="cityName" class="form-control"
                                    required="required" data-error="Please specify your city."
                                    (change)="filterCity($event)">
                                    <option value="" selected disabled>--Select City--</option>
                                    <option [value]="city['cityId']" *ngFor="let city of cities">
                                        {{city['cityName']}}

                                    </option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                    <!--experiment end-->



                    <div class="form-group">
                        <label for="usr">Old password:</label>
                        <input type="text" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="pwd">New Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Confirm New Password:</label>
                        <input type="password" class="form-control" id="pwd">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="book()">Book</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>



</div>