<hr>
<hr>
<hr>
<div class="container-fluid">



    <div class="row mb-5">
        <div class="col-sm-3">

            <!-- <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">Change Password</h4>
                            <p class="card-text">Some example text. Some example text.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div> -->

        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Book an Appointment</h4>
                    <p class="card-text">Fill the details below</p>
                    <div class="alert alert-warning" *ngIf="bookingWarning">
                        <strong>Choosen Date-Time slot is not available.</strong><br>
                        <small>Select different Date-Time slot</small><br>
                    </div>

                    <!--Date and Time -- starts-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_datetime">Pick a date*</label>
                                <input type="date" class="form-control" id="form_datetime" (change)="setDate($event)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_time">Pick a time*</label>
                                <input type="time" class="form-control" id="form_time" min="10:00" max="20:00"
                                    data-error="Please select a service." (change)="setTime($event)">
                            </div>
                        </div>

                    </div>
                    <!--Date and Time -- ends-->
                    <!--service selector start-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> <label for="form_service">Select a Service
                                    *</label>
                                <select id="form_service" name="service" class="form-control" required="required"
                                    data-error="Please select a service." (change)="filterService($event)">
                                    <option value="" selected disabled>--Select Category--</option>
                                    <option [value]="ser['serviceId']" *ngFor="let ser of servicesResult">
                                        {{ser['serviceName']}}

                                    </option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="form_serviceDuration">Service Duration
                                    *</label>
                                <input type="text" class="form-control" required="required" id="form_serviceDuration"
                                    [(ngModel)]="serviceDuration" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="form_servicePrice">Service Price
                                    *</label>
                                <input type="text" class="form-control" required="required" id="form_servicePrice"
                                    [(ngModel)]="servicePrice" readonly>
                            </div>
                        </div>
                    </div>
                    <!--service selector end-->
                    <!--Buttons starts-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" value="Check Availability"
                                    id="form_checkButton" (click)="check()">
                            </div>
                        </div>
                        <div class="alert alert-success" *ngIf="hideButton">
                            <strong>Choosen Date-Time slot is available.</strong><br>
                            <small>Proceed for Booking</small><br>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" value="Confirm Booking"
                                    id="form_confirmButton" *ngIf="hideButton" (click)="book()">
                            </div>
                        </div>

                    </div>
                    <!--Buttons end-->
                    <!-- <button type="button" class="btn btn-primary" (click)="book()">Book</button> -->
                </div>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>



</div>