<hr>
<hr>
<hr>
<div class="container-fluid">
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">

        <div class="row mb-5">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Search by Date</h4>
                        <p class="card-text">Select start and end dates</p>
                        <!--Date and Time -- starts-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form_startdatetime">Pick a Start Date*</label>
                                    <input type="date" class="form-control" id="form_startdatetime"
                                        (change)="setStartDate($event)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="form_enddatetime">Pick a End Date*</label>
                                    <input type="date" class="form-control" id="form_enddatetime"
                                        (change)="setEndDate($event)">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="form_checkButton"></label>

                                    <input type="button" class="btn btn-primary btn-send pt-2 btn-block" value="Search"
                                        id="form_checkButton" (click)="search()">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="form_checkButton"></label>

                                    <input type="button" class="btn btn-primary btn-send pt-2 btn-block"
                                        value="Show All" id="form_checkButton" (click)="showall()">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Your Appointments</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>With Whom</th>
                            <th>Contact No.</th>
                            <th>For What</th>
                            <th>Date-Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let c of appointmentsResult | paginate: config; let i=index">
                            <td>{{ (config.currentPage - 1) * config.itemsPerPage + i +1 }}</td>
                            <td>{{c.consumer.consumerName}}</td>
                            <td>{{c.consumer.consumerPhone}}</td>
                            <td>{{c.service.serviceName}}</td>
                            <td>{{c.startDateTime}}</td>
                            <!--<td><button (click)="removeAirport(airport.airportCode)" class="btn btn-danger">Delete</button>
                      <button (click)="modifyAirport(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">update</button>
                        <button (click)="airportDetails(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>-->
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>

    </div>

</div>