<hr>
<hr>
<hr>
<div class="container-fluid">

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-sm-12">
                <h1>Add a Service</h1>
            </div>

        </div>

        <form id="contact-form" role="form">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group"> <label for="form_serviceDuration">Service Name*</label>
                            <input id="form_serviceName" type="text" name="serviceName"
                                [(ngModel)]="service.serviceName" class="form-control"
                                placeholder="Please enter service name *" required="required"
                                data-error="service name is required.">
                        </div>

                    </div>
                </div>
                <div class=" col-sm-3">
                    <div class="form-group">
                        <div class="form-group"> <label for="form_serviceDuration">Service Duration*</label>
                            <input id="form_serviceDuration" type="text" name="serviceDuration"
                                [(ngModel)]="service.serviceDuration" class="form-control"
                                placeholder="Format HH:MM:SS*" required="required"
                                data-error="service duration is required.">
                        </div>

                    </div>
                </div>
                <div class=" col-sm-3">
                    <div class="form-group">
                        <div class="form-group"> <label for="form_serviceDuration">Service Price*</label>
                            <input id="form_serviceDuration" type="number" name="serviceDuration"
                                [(ngModel)]="service.servicePrice" class="form-control"
                                placeholder="Please enter service price *" required="required"
                                data-error="service price is required.">
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="form_search"></label>

                        <input type="submit" id="form_search" class="btn btn-dark btn-send pt-2 btn-block " value="Add"
                            (click)="add()">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>List of Services</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Service Name</th>
                            <th>Service Duration</th>
                            <th>Service Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let sp of servicesResult | paginate: config; let i=index">
                            <td>{{ (config.currentPage - 1) * config.itemsPerPage + i +1 }}</td>
                            <td>{{sp.serviceName}}</td>
                            <td>{{sp.serviceDuration}}</td>
                            <td>{{sp.servicePrice}}</td>
                            <!--<td><button (click)="removeAirport(airport.airportCode)" class="btn btn-danger">Delete</button>
                      <button (click)="modifyAirport(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">update</button>
                        <button (click)="airportDetails(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>-->
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>

    </div>

</div>