<!-- BODY -->
<div class="wrapper">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="jumbotron">
            <h1 class="display-4">Ready to Book your next Appointment ?</h1>
            <hr>

            <p class="lead"><strong>BookMyAppointment</strong> is the <strong>ultimate booking APP</strong> for all your
                health and
                beauty
                needs. We have
                a wide list of <strong>premium salons and healthcare providers</strong> who allow you to book your own
                appointments <strong>instantly</strong> online.</p>
            <hr class="my-4">
            <p>
                <li> <strong>No more waiting for 9am to call and book your appointment.<br>
                    </strong></li>
                <li><strong> No more engaged phones<br>
                    </strong></li>
                <li><strong> No more hushed conversations in open plan offices.
                    </strong></li>
            </p>
            <p>To get started, <strong> Login/Signup and search</strong> for a service provider
                in your area. Booking is easy, convenient and instant. And don't worry, we hate Spam as much as you
                do, so we have a no spam promise!
            </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Consumer Login</a>
        </div>
        <!--<div class="card-body">
            <h3 class="card-title">Welcome to BookMyAppointment</h3>
            <p>My Appointment is the <strong>ultimate booking APP</strong> for all your health and beauty needs. We have
                a wide list of <strong>premium salons and healthcare providers</strong> who allow you to book your own
                appointments <strong>instantly</strong> online.
            </p>
            <br>

            <li> <strong>No more waiting for 9am to call and book your appointment.<br>
                </strong>
            <li><strong> No more engaged phones<br>
                </strong>
            <li><strong> No more hushed conversations in open plan offices.
                </strong>

                <p>To get started, Login/Signup and <strong>search</strong> for a service provider
                    in your area. Booking is easy, convenient and instant. And don't worry, we hate Spam as much as you
                    do, so we have a no spam promise!
                </p>
        </div>-->
    </div>

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title">Some of Our Featured Health & Beauty Providers</h3>
            <div class="row">
                <div class="col-md-3" style="padding: 5px;">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
                <div class="col-md-3" style="padding: 5px;">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
                <div class="col-md-3" style="padding: 5px;">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
                <div class="col-md-3" style="padding: 5px;">
                    <img src="assets/special-offer.jpg" height="200px" width="250px" />
                </div>
            </div>
        </div>
    </div>
    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h3 class="card-title">About Us</h3>
            <div class="row">
                <div class="devCard col-md-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.png" height="200px" /><br /><br />
                    <h5>Sanchit Singhal</h5>
                    <hr />
                    <span class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                        <a href="https://in.linkedin.com/in/" class="fa fa-linkedin"></a>
                    </span>
                </div>
                <div class="devCard col-md-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.png" height="200px" /><br /><br />
                    <h5>Shivani Luthra</h5>
                    <hr />
                    <span class="info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </span>
                </div>
                <div class="devCard col-md-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.png" height="200px" /><br /><br />
                    <h5>Shaivi Sinha</h5>
                    <hr />
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </span>
                </div>
                <div class="col-md-3" style="padding: 5px;">
                    <img class="photo" src="assets/user.png" height="200px" /><br /><br />
                    <h5>Vaibhav Chaudhary</h5>
                    <hr />
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <hr />
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                        <h3 class="card-title">Contact Us</h3>
                        <div class="row">
                            Full Name: <br>
                            <input class="form-control" type="text" name="fname"><br>
                            Email Address:<br>
                            <input class="form-control" type="email" name="email"><br>
                            Subject: <br>
                            <input class="form-control" type="text" name="subject"><br>
                            Message:<br>
                            <textarea class="form-control" name="message"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-3 offset-md-9">
                                <button type="button" class="btn btn-success signUpBtn" (click)="sendMessage()">
                                    <a href="#">Send</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div> -->
</div>
<!-- BODY -->