<hr>
<hr>
<hr>
<div class="container-fluid">

    <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Registered Service Providers</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Service Name</th>
                            <th>Service Duration</th>
                            <th>Service Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <!--<tbody>
                        <tr *ngFor="let sp of servicesResult">
                            <td>{{sp.serviceName}}</td>
                            <td>{{sp.serviceDuration}}</td>
                            <td>{{sp.servicePrice}}</td>
                            <td><button (click)="removeAirport(airport.airportCode)" class="btn btn-danger">Delete</button>
                      <button (click)="modifyAirport(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">update</button>
                        <button (click)="airportDetails(airport.airportCode)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                        </tr>
                    </tbody>-->
                </table>
            </div>
        </div>

    </div>

</div>